# The sprite bundles had -diff -merge here, for the base64 atlas line that no textual merge can
# resolve. They are no longer tracked at all — they embed the client's art, which this repository
# cannot redistribute — so there is nothing left to diff or merge. See .gitignore.
tools/DataEditor/schema.js linguist-generated=true
