<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Goose.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Goose.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Goose.GameSettings>
   <setting name="AutoCharacterCreation" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GameServerPort" serializeAs="String">
    <value>2006</value>
   </setting>
   <setting name="MaxPlayers" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="GameServerIP" serializeAs="String">
    <value>0.0.0.0</value>
   </setting>
   <setting name="DatabaseUsername" serializeAs="String">
    <value>GooseServer</value>
   </setting>
   <setting name="DatabasePassword" serializeAs="String">
    <value>password1</value>
   </setting>
   <setting name="DatabaseAddress" serializeAs="String">
    <value>localhost</value>
   </setting>
   <setting name="DatabaseName" serializeAs="String">
    <value>IllutiaGoose</value>
   </setting>
   <setting name="ServerName" serializeAs="String">
    <value>Extrico</value>
   </setting>
   <setting name="StartingMapID" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="StartingMapX" serializeAs="String">
    <value>51</value>
   </setting>
   <setting name="StartingMapY" serializeAs="String">
    <value>182</value>
   </setting>
   <setting name="BaseHaste" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BaseSpellDamage" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BaseSpellCrit" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BaseMeleeDamage" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BaseMeleeCrit" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BaseDamageReduction" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BaseHPPercentRegen" serializeAs="String">
    <value>0.02</value>
   </setting>
   <setting name="BaseHPStaticRegen" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BaseMPPercentRegen" serializeAs="String">
    <value>0.02</value>
   </setting>
   <setting name="BaseMPStaticRegen" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingHP" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingMP" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingSP" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingStrength" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingStamina" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingDexterity" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingIntelligence" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingAC" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingFireResist" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingWaterResist" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingAirResist" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingSpiritResist" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingEarthResist" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingGold" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="StartingExperience" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingExperienceSold" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingLevel" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="StartingClassID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="StartingGuildID" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingBodyID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="StartingFaceID" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="StartingHairID" serializeAs="String">
    <value>16</value>
   </setting>
   <setting name="StartingHairR" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingHairG" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingHairB" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingHairA" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="MOTD" serializeAs="String">
    <value>Welcome to Illutia.</value>
   </setting>
   <setting name="StartingTitle" serializeAs="String">
    <value/>
   </setting>
   <setting name="StartingSurname" serializeAs="String">
    <value/>
   </setting>
   <setting name="RegenSpeed" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="StartingItems" serializeAs="String">
    <value>2 3 48 48 48 48 48</value>
   </setting>
   <setting name="GoldItemID" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="StaminaToHP" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="IntelligenceToMP" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="DamageModifier" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ExperienceModifier" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ItemSavePeriod" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="PlayerSavePeriod" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="ItemProtectedTime" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="SpellEffectPeriod" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="VitaBuyAmount" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="ManaBuyAmount" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="IncreaseVitaBuyAmount" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="IncreaseManaBuyAmount" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="ExperienceCap" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LockdownModeEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LogoutLagTime" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="GuildCreationCost" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="DefaultGuildMOTD" serializeAs="String">
    <value>Welcome. To change this message type /guildmotd &lt;message&gt;, to give ownership to someone else type /guildowner &lt;name&gt;. To give/remove officer status type /guildofficer &lt;name&gt;</value>
   </setting>
   <setting name="GuildSavePeriod" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="RankUpdatePeriod" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="MaxAC" serializeAs="String">
    <value>3000</value>
   </setting>
   <setting name="ExperienceModifierLimit" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DropRateModifier" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SpeedhackDetectionEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ItemGroundExistTime" serializeAs="String">
    <value>10800</value>
   </setting>
   <setting name="ItemGroundSweepTime" serializeAs="String">
    <value>5400</value>
   </setting>
   <setting name="DefaultAetherThreshold" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DefaultToggleSettings" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="NewCharactersPerDayPerIP" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="MaxNPCs" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="PetVitaBuyAmount" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="IncreasePetVitaBuyCost" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="PetVitaCost" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="PetDamageBuyAmount" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="IncreasePetDamageBuyCost" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="PetDamageCost" serializeAs="String">
    <value>200000</value>
   </setting>
   <setting name="PetCountLimit" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="IdleTimeout" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="PlayerCountExperienceModifierInterval" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="PlayerCountExperienceModifier" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CreditUpdateInterval" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="BaseMoveSpeedIncrease" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingMoveSpeed" serializeAs="String">
    <value>320</value>
   </setting>
   <setting name="StartingBodyR" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingBodyG" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingBodyB" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="StartingBodyA" serializeAs="String">
    <value>0</value>
   </setting>
  </Goose.GameSettings>
	</userSettings>
	<applicationSettings>
		<Goose.GameSettings>
   <setting name="ServerVersion" serializeAs="String">
    <value>1.0.0</value>
   </setting>
   <setting name="InventorySize" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="EquippedSize" serializeAs="String">
    <value>14</value>
   </setting>
   <setting name="SpellbookSize" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="BuffBarVisibleSize" serializeAs="String">
    <value>16</value>
   </setting>
   <setting name="PartyWindowMax" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="VendorSlotSize" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="ItemIDStartpoint" serializeAs="String">
    <value>5000</value>
   </setting>
   <setting name="CombineBagSize" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="NumberOfRanks" serializeAs="String">
    <value>10</value>
   </setting>
  </Goose.GameSettings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
